.navbar {
    border-radius: 30px;
    background-color: #4e005e;
    /* background-color:#009688; */
    /* opacity: 0.9; */
    z-index: 1;
}

#cart {
    width: 35px;
    height: 30px;
}

#logo {
    width: 30px;
    height: 30px;
}

body{
    background-image:url("book picture/blue\ star.jpg");
    background-repeat:repeat;
  }

/* this  help to close the modal or form of the signup and login page */
.modal-backdrop {
    display: none;
}

#headding h3 {
    display: inline-block;
    padding-top: 3vh;
    padding-left: 5vw;
    color: #fff;
}

#space {
    height: 20px;
    background-color: black;
    /* background-color: #e3e6e6; */

}

#spaceSecond {
    height: 10vh;
}

/* .card{
    box-shadow: 0 -10px 30px black;
} */
.container1 {
    background-color: white;
    border-radius: 10px;
    margin: 0 10vh 0 10vh;
}
.card:hover{
    transform:scale(1.01);
    box-shadow: 0 10px 20px yellow;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    /* Set the background color of the footer */
    padding: 10px 0px 0px 20px;
    /* Adjust the padding as needed */
    /* text-align: center; */
}
#foot{
    background-color: black;
    color:white;
  }
a{
    text-decoration:none;
    color:white;
}
#modalSize{
    width: 300px;
}
form{
    text-align:center;
}
#User{
    margin-right:20px;
}
#Seller{
    margin-right: 20px;
}
